* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font: 100%/1.5em Arial, sans-serif;
}
img {
    display: block;
}
.container {
    max-width: 990px;
    margin: 0 auto;
}
.cols {
    float: left;
}
/*greed*/
.cols.col-1 { width: 8.33333333333332%;}
.cols.col-2 { width: 16.666666667%;}
.cols.col-3 { width: 25%;}
.cols.col-4 { width: 33.333333333%;}
.cols.col-5 { width: 41.666666667%;}
.cols.col-6 { width: 50%;}
.cols.col-7 { width: 58.333333333%;}
.cols.col-8 { width: 66.666666667%;}
.cols.col-9 { width: 75%;}
.cols.col-10 { width: 83.333333333%;}
.cols.col-11 { width: 91.666666667%;}
.cols.col-12 { width: 100%;}
/*clearfix*/
.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.row:after,
.container:after,
.clear:after {
    clear: both;
}
@media screen and (max-width: 920px) {
    .cols.col-1,
    .cols.col-2,
    .cols.col-3,
    .cols.col-4,
    .cols.col-5,
    .cols.col-6,
    .cols.col-7,
    .cols.col-8,
    .cols.col-9,
    .cols.col-10,
    .cols.col-11,
    .cols.col-12 { width: 100%;}
}
/*style page*/
.basic-top {
    padding-top: 15px;
    margin-bottom: 10px;
}
.basic-logo {
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 2.188em;
    font-weight: bolder;
    margin-top: 27px;
}
.logo-blue {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: #00d6ec;
    color: #ffffff;
}
.top-basic-banner {
    display: table;
    width: 78.78%;
    height: 90px;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
}
.top-basic-banner span {
    vertical-align: middle;
}
.contain-navigation-social {
    background-color: #e3e3e3;
}
.auxiliary-navigation {
    list-style: none;
    font-size: 0.813em;
}
.auxiliary-navigation-item {
    padding-top: 5px;
    display: inline-block;
}
.auxiliary-navigation-link {
    color: #000000;
    text-decoration: none;
    margin-right: 1.9em;
}
/*social network*/
.social-item {
    display: inline-block;
}
.social {
    float: right;
    font-size: 0;
    line-height: 0;
    list-style: none;
}
.social-link {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.delicious {
    background-image: url(../img/social1.png);
}
.flickr {
    background-image: url(../img/social2.png);
}
.tumblr {
    background-image: url(../img/social3.png);
}
.stumbleupon {
    background-image: url(../img/social4.png);
}
.contain-basic-navigation {
    background-color: #e95617;
    margin-bottom: 25px;
}
.basic-navigation-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 55px;
    color: #ffffff;
}
.basic-navigation:first-child {
    margin-left: 20px;
}
.basic-navigation {
    list-style: none;
    font-size: 1.154em;
    font-weight: bold;
}
.basic-navigation-item {
    display: inline-block;
}
/*basic content*/
.main-top-gradient {
    position: relative;
}
.main-top-gradient::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -50%;
    width: 50%;
    height: 200px;
    background: linear-gradient(to bottom, #e3e3e3, #ffffff);
    z-index: 0;
}
.main-top-gradient::after {
    content: '';
    position: absolute;
    top: -25px;
    right: -52%;
    width: 50%;
    height: 200px;
    background: linear-gradient(to bottom, #e3e3e3, #ffffff);
    z-index: 0;
}
.orange-link {
    text-decoration: none;
    color: #eb4900;
}
.slider {
    position: relative;
    margin-bottom: 2px;
}
.slider-blue-line {
    position: absolute;
    top: 22px;
    left: 13px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00cee1;
}
.slider-blue-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 28px;
    width: 0;
    height: 0;
    border-top: 12px solid #00cee1;
    border-left: 12px solid transparent;

}
.slider-item {
    margin-left: 15px;
}
.content-article {
    padding-left: 13px;
    padding-top: 25px;
    padding-bottom: 27px;
    box-shadow: -10px 20px 1px -20px;
}
.content-article:last-child {
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.author-name {
    position: relative;
}
.author-name::before {
    content: '';
    display: block;
    top: 2px;
    left: -20px;
    width: 11px;
    height: 12px;
    position: absolute;
    background-image: url(../img/admin.png);
    background-repeat: no-repeat;
}
.comments-link {
    position: relative;
}
.comments-link::before {
    content: '';
    display: block;
    top: 2px;
    left: -20px;
    width: 11px;
    height: 8px;
    position: absolute;
    background-color: #9f9f9f;
}
.comments-link::after {
    content: '';
    display: block;
    top: 5px;
    left: -18px;
    width: 3px;
    height: 8px;
    position: absolute;
    background-color: #9f9f9f;
}
.author {
    padding-left: 25px;
}
.article-author {
    font-size: 0.7em;
}
.article-title {
    font-size: 1.25em;
    padding-top: 35px;
    padding-bottom: 15px;
}
.article-content-fill {
    font-size: 0.8em;
    line-height: 1.4em;
}
.article-content-link {
    font-size: 0.8em;
    line-height: 2.8em;
    padding-left: 5px;
}
.select-page {
    list-style: none;
    margin-top: 40px;
    text-align: center;
}
.select-page-item {
    display: inline-block;
}
.select-page-link {
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 2.188em;
    font-weight: bold;
}
.select-page-item:last-child .select-page-link {
    color: #eb4900;
}
.category-title {
    text-transform: uppercase;
    font-size: 1.25em;
    color: #01b2bf;
    border-bottom: 5px solid #e3e3e3;
}
.user-news {
    padding-left: 20px;
    padding-right: 20px;
}
.user-news .category-title {
    margin-bottom: 0px;
}
.user-news-title {
    margin-top: 20px;
}
.news-date {
    font-size: 0.71em;
    line-height: 1.3em;
}
.user-news-fill {
    font-size: 0.8em;
    line-height: 1.3em;
}
.news-submit {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.random-inspiration {
    padding-left: 0px;
    margin-right: 25px;
}
.random-inspiration .category-title {
    margin-bottom: 20px;
}
.flickr-group .category-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.image-miniature {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
    width: 75px;
    height: 75px;
}
.mini1 {
    background-image: url(../img/mini1.jpg);
    background-repeat: no-repeat;
}
.mini2 {
    background-image: url(../img/mini2.jpg);
    background-repeat: no-repeat;
}
.mini3 {
    margin-right: 0;
    background-image: url(../img/mini3.jpg);
    background-repeat: no-repeat;
}
.mini4 {
    background-image: url(../img/mini4.jpg);
    background-repeat: no-repeat;
}
.mini5 {
    background-image: url(../img/mini5.jpg);
    background-repeat: no-repeat;
}
.mini6 {
    margin-right: 0;
    background-image: url(../img/mini6.jpg);
    background-repeat: no-repeat;
}
/*sidebar*/
.right-sidebar {
    padding-left: 2%;
}
.user-interactive {
    position: relative;
    margin-bottom: 10px;
}
.user-search {
    padding: 5px;
    width: 100%;
    border: 4px solid #e3e3e3;
}
.user-search-button {
    position: absolute;
    border: none;
    top: 6px;
    right: 7px;
    width: 30px;
    height: 25px;
    background-image: url(../img/loupe.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
.our-rss {
    width: 64px;
    height: 64px;
    background-image: url(../img/rss.png);
    background-repeat: no-repeat;
}
.aside-readers {
    vertical-align: top;
    display: inline-block;
}
.readers-count {
    margin-left: 20px;
}
.twitter-count {
    margin-left: 20px;
}
.readers-amount {
    font-size: 1.5em;
    font-weight: bold;
    color: #eb4900;
}
.twitter-amount {
    font-size: 1.5em;
    font-weight: bold;
    color: #00d6ec;
}
.readers-link {
    font-size: 0.7em;
    text-decoration: underline;
}
.readers-amount-name {
    font-size: 0.813em;
    line-height: 0.813em;
}
.twitter-amount-name {
    font-size: 0.813em;
    line-height: 0.813em;
}
.user-email {
    width: 65%;
    margin-top: 10px;
    padding: 9px;
    font-size: 0.813em;
}
.user-interactive-subscribe {
    margin-left: 5px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    cursor: pointer;
}
.aside-miniature-image {
    background-color: #f3f3f3;
    padding-bottom: 10px;
}
.aside-miniature {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
}
.aside-miniature-item1 {
    background-image: url(../img/asideMini1.jpg);
}
.aside-miniature-item2 {
    background-image: url(../img/asideMini2.jpg);
}
.aside-miniature-item3 {
    background-image: url(../img/asideMini3.jpg);
}
.aside-miniature-item4 {
    background-image: url(../img/asideMini4.jpg);
}
.aside-categories {
    margin-top:10px;
}
.aside-categories .category-title {
    margin-bottom: 10px;
}
.categories-list-left {
    display: inline-block;
}
.categories-list-right {
    margin-left: 25%;
    display: inline-block;
}
.categories-list-item {
    text-decoration: none;
    font-size: 0.813em;
    line-height: 2.35em;
    display: block;
}
.aside-posts {
    margin-top: 17px;
}
.posts-list-link {
    font-size: 0.813em;
    position: relative;
    display: block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.posts-list-link::before {
    content: '';
    position: absolute;
    left: -55px;
    top: 0px;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
}
.aside-facebook {
    margin-top: 40px;
    width: 301px;
    height: 206px;
    background-image: url(../img/facebook.jpg);
}
.aside-banner {
    font-size: 0.813em;
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 120px;
    line-height: 120px;
    background-color: #e3e3e3;
}
.aside-banner-title {
    vertical-align: middle;
}
.aside-videos {
    margin-top: 20px;
}
.aside-videos .category-title {
    margin-bottom: 20px;
}
.aside-video-item {
    width: 300px;
    height: 215px;
    background-color: #2a90c4;
}
.basic-footer {
    font-size: 0.813em;
    margin-top: 50px;
}
.gray-footer {
    background-color: #f0f0f0;
}
.basic-footer .category-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    border: none;
}
.top-footer {
    margin-top: 35px;
    padding-bottom: 30px;
}
.footer-about {
    padding-right: 30px;
    padding-left: 15px;
}
.footer-browse {
    padding-left: 20px;
    padding-right: 30px;
}
.browse-link {
    display: block;
    text-decoration: none;
    color: #000000;
}
.footer-write-us {
    padding-left: 15px;
}
.write-us-link {
    display: block;
    margin-top: 20px;
}
.bottom-footer {
    margin-top: 20px;
}
.designed-by {
    padding-left: 20px;
}
.powered-by {
    padding-left: 20px;
}